.logo_container {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent_img {
  position: relative;
  width: 800.001px;
  height: 698.815px;
  overflow: hidden;
  z-index: 9;
}
.parent_img img {
  position: relative;
  z-index: 9;
}
.middle_container {
  position: absolute;
  top: 99px;
  left: 30px;
  width: 93%;
  height: 82%;
  padding: 70px;
  z-index: 1;
}
.middle_img {
  width: 100%;
  height: 100%;
}
.animate {
  animation: moveDown 5s ease-in-out infinite;
}

@keyframes moveDown {
  0% {
    top: 99px;
  }
  25% {
    top: 99px;
  }
  50% {
    top: 100%;
  }
  75% {
    top: 99px;
  }
  100% {
    top: 99px;
  }
}
/* =============================== start companies section ===================================== */
.section_title {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 100px;
  font-weight: 400;
  background: linear-gradient(112deg, #fff 24.02%, #999 98.59%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collase_parent{
  position: relative;
  z-index: 9;
  border-radius: 18px;
  background-color: black !important;
}

.collapse_header {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: 400;
}
.collapse_header a {
  text-decoration: none;
  background: linear-gradient(112deg, #fff 24.02%, #999 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active_according {
  text-decoration: none;
  background: linear-gradient(90deg, #e9c568 0%, rgba(153, 120, 2, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collapse_header svg {
  display: none;
}

.accordion_body {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}
.accordion_body img {
  height: 400px;
}
.finance_card {
  text-align: center;
  position: relative;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 200, 3, 0.3);
  box-shadow: 0px 3.451px 3.451px 0px rgba(255, 200, 3, 0.3) inset;
}
.finance_card .cart_title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.finance_card .cart_content {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  text-transform: lowercase;
  padding-bottom: 50px;
}

.cart_button {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_more {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

.finance_card .cart_button button,
.btn_more button,
.service_cart button {
  color: #fff;
  font-size: 20px;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 18px;
  text-transform: capitalize;
}
.according_center_img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.according_center_img img {
  width: 900px;
}

.service_cart {
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 0.863px solid rgba(255, 200, 3, 0.3);
  opacity: 0.9;
  background: rgba(6, 4, 4, 0.8);
  box-shadow: 0px 3.451px 3.451px 0px rgba(255, 200, 3, 0.3) inset;
  position: relative;
}
.service_title {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: capitalize;
}
.service_content {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  margin: 20px 0px 50px;
}

/* =============================== end companies section ===================================== */

/* =============================== start who we are section ===================================== */

.who_we_are {
  text-align: center;
  font-family: Roboto;
  font-size: 170px;
  font-weight: 800;
  letter-spacing: -5.055px;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    #e9c568 11.89%,
    rgba(255, 200, 3, 0.51) 37.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.who_title {
  color: rgba(245, 245, 245, 0.6);
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 36.355px;
  font-weight: 400;
  text-transform: lowercase;
}
.who_cart_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
}
.who_cart_content {
  color: rgba(245, 245, 245, 0.8);
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-weight: 400;
  text-transform: lowercase;
}
.who_cart_image img {
  object-fit: cover;
  padding-top: 25px;
  width: 100%;
}
.who_cart_image2 img {
  object-fit: cover;
  padding-top: 170px;
  width: 100%;
}

.test_dev {
  border: 5px solid red;
}

/* =============================== end who we are section ===================================== */

/* =============================== start soical media section ===================================== */

.social_section {
  background: linear-gradient(
    180deg,
    rgba(255, 200, 3, 0.2) 37.23%,
    rgba(255, 167, 3, 0.04) 100%
  );
  box-shadow: 0px 3.301px 3.301px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 30px 150px;
}
.social_title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2.663px;
  text-transform: capitalize;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.5) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social_Contact_us {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 18.308px;
  padding: 8px 30px;
  background: linear-gradient(180deg, #ffc803 0%, rgba(255, 167, 3, 0.54) 100%);
}

.social_icon a img {
  width: 36px;
}

/* =============================== end soical media section ===================================== */

/* =============================== start  section ===================================== */





/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================= start Responsive ===================================================== */
@media (max-width:662px) {
  /* ========================================= start company ===================================================== */
.section_title{
  font-size: 90px;  
}
.collapse_header{
  font-size: 24px;
}
.accordion_body{
  font-size: 18px;
}
.accordion_body img {
  height: 280px;
}
.finance_card .cart_title{
  font-size: 22px;
}
.finance_card .cart_content{
  font-size: 18px;
}

.finance_card .cart_button button,
.btn_more button,
.service_cart button {
  font-size: 18px;
  padding: 5px 10px;
}
  /* ========================================= start who we are ===================================================== */
  .who_we_are{
    font-size: 90px;
  }
  .who_title{
    font-size: 20px;
  }
  .who_cart_title{
    font-size:22px ;
  }
  .who_cart_content{
    font-size: 18px;
  }
  
  /* ========================================= start Social ===================================================== */
  .social_section{
    padding: 20px 0px;
  }
  .social_title{
    font-size: 22px;
  }
  .social_Contact_us{
    padding: 7px 15px;
  }
  .social_icon a img{
    width: 22px;
  }
    
}